<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IFS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css')}}">
  </head>
  <body style="margin: 0;">
    <div id='root'></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://unpkg.com/viz.js@1.8.0/viz.js"></script>
    <script src="https://unpkg.com/d3-graphviz@0.1.2/build/d3-graphviz.js"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='js/AppInterface.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='js/CausalGraph.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='js/ExpertKnowledge.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='js/Tab.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='js/SideBar.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='js/ProgressGraph.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='js/PieChart.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='js/ConfusionMatrix.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='js/SunburstChart.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='js/Settings.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='js/FeatureParallelCoordinates.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='js/CheckboxMultiSelect.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='js/RocCurve.js') }}"></script>
  </body>
</html>
