<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stacks</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='histogram.css')}}">
  </head>
  <body>
    <div id='root'></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='index.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='Interface.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='Histogram.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='Settings.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='FeatureParallelCoordinates.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='VerticalHistogram.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='FeatureHistogram.js') }}"></script>
  </body>
</html>
