<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upload.css')}}">
  </head>
   <body>
      <form method = "POST" enctype = "multipart/form-data">
        <div class="upload-form">
          <h3>Upload Datafile</h3>
          <p>Upload datafile in csv form. Upload description of features (optional).</p>
          <hr>
          <div>
            <label for="file"> Datafile </label>
            <input type = "file" name = "file" class="inputfile"/>
          </div>
          <div>
            <label for="file"> Description </label>
            <input type = "file" name = "file" class="inputfile"/>
          </div>
         <input type = "submit"/>
         </div>
      </form>
   </body>
</html>
